<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/lib/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/respond.min.js"></script>
<![endif]-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css" />
		<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
		<title>参与列表</title>
	</head>

	<body>
		<div class="page-container">
<!-- 			<div class="text-c">
				<input type="text" class="input-text" style="width:250px" placeholder="输入昵称搜索" id="" name="">
				<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
			</div> -->
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="100">用户名</th>
							<th width="150">活动名称</th>
							<th width="150">支付金额</th>
							<th width="130">时间</th>
						</tr>
					</thead>
					<tbody>
					<foreach name="cinfos" item="v">
						<tr class="text-c">
							<td><u style="cursor:pointer" class="text-primary"><?php echo $v['cname'] ?></u></td>
							<td><?php echo $v['title'] ?></td>
							<td><?php echo $v['money'] ?></td>
							<td><?php echo date('Y-m-d H:i:s',$v['ctime']) ?></td>
						</tr>
						</foreach>
					</tbody>
				</table>
			</div>
		</div>
		<!--_footer 作为公共模版分离出去-->
		<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/lib/layer/2.4/layer.js"></script>
		<script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script>
		<!--/_footer 作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->
		<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script>
	</body>

</html>