<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>获取数字</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/public.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/layer_mobile/need/layer.css" />
	</head>
	<body>
		<section class="section">
			<div class="box_success">
				<img src="__PUBLIC__/Home/images/success_03.png" alt="成功" class="successImg" />
				<p class="">恭喜您，您的领奖码是：<?php echo $number ?></p>
				<img src="__PUBLIC__/Home/images/qrcode_07.jpg" alt="二维码" class="qrCode" />
				<p class="qrcode_text">请关注公众号</br>在菜单“个人中心”中查看您的领奖码</p>
			</div>
		</section>
	</body>

</html>